* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
main{
    position: relative;
}
footer {
    text-align: center;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}
footer h3{
    margin-top: 0.5rem;
}
.header{
    display: inline;
}
table{
    height: 40vh;
    width: 80vh;
    margin-top: 2rem;
    margin-right: 10vh;
    margin-left: 10vh;
}
.title{
    padding: 3rem;
    font-size: xxx-large;
    font-weight: initial;
    background-image: url(../assets/design1_image1.jpg);
    height: 30vh;
    background-position: center;
    background-size: cover;
}
.title_container{
    position: relative;
}
.section_title{
    height: 3rem;
    background-color: black;
    color: aliceblue;
    text-align: center;
}
.section_navbar{
    display: flex;
}
.section_navbar a{
    margin-right: 2rem;
}
a[href="#"]{
    color: black;
}
.logo{
    height: 5.5rem;
    width: 5.5rem;
    position: absolute;
    right: 10vh;
    top: -1.25rem;
    background-color: aliceblue;

}
.image_main{
    margin-left: 5rem;
    height: 10rem;
    width: 10rem;
}
.principal_content{
    text-align: center;
    padding-top: 3.5rem;
    margin-right: 20vh;
    margin-left: 20vh;
}
.section_name{
    color:darkgoldenrod
}
.about_article{
    margin-top: 3rem;
    display: block !important;
    display: block !important;
    text-align: center;
    width: 70vh;
}
.nav_container{
    display: flex;
    justify-content: space-around;
}
.rules_body{
    margin-top: 3rem;
    text-align: left;
}
.rules_body h2{
    margin-top: 2rem;
}
.games_article h1{
    margin-top: 2rem;
    text-align: center;
}
.games_article h2,h3{
    margin-top: 2rem;
    text-align: left;
    font-weight: lighter;
}
.extra_info h3{
    font-weight: bolder;
}
.extra_info span{
    font-weight:normal !important;
}
.extra_info_contact{
    display: flex;
    justify-content: space-between;
}
